.app {
  color: white;
  height: 100vh;
  background-color: #333;
  padding: 1rem;
  box-sizing: border-box;
}

.container{
  display: flex;
}

input{
  border: none;
  outline: none;
  margin: 0;
  padding: 0;
  background-color: transparent;
  color: white;
  width: 100%;
}

.terminal{
  white-space: pre-line;
}

